.note-editor {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

}

.note-editor textarea {
  padding: 1em;
  box-sizing: border-box;
  border-width: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: Monaco, Courier, fixed;
  &:focus {
    outline: 0;
  }
}

